name: CI RSpec Test

on: [push, pull_request]

jobs:
  build:
    name: >-
      Mongoid Test with: - Ruby ${{ matrix.entry.ruby }} - MongoDB ${{ matrix.entry.mongodb }} - Gemfile ${{ matrix.entry.gemfile }})
    env:
      CI: true
      TESTOPTS: "-v"
      BUNDLE_GEMFILE: gemfiles/${{ matrix.entry.gemfile }}.gemfile
    runs-on: ubuntu-latest
    continue-on-error: false
    strategy:
      matrix:
        entry:
          - { ruby: "2.6", gemfile: 'mongoid_3', mongodb: "3.6" }
          - { ruby: "2.6", gemfile: 'mongoid_4', mongodb: "3.6" }
          - { ruby: "2.6", gemfile: 'mongoid_4', mongodb: "3.6" }
          - { ruby: "2.6", gemfile: 'mongoid_5', mongodb: "3.6" }
          - { ruby: "2.6", gemfile: 'mongoid_5', mongodb: "3.6" }
          - { ruby: "2.6", gemfile: 'mongoid_6', mongodb: "3.6" }
          - { ruby: "2.6", gemfile: 'mongoid_6', mongodb: "3.6" }
          - { ruby: "2.6", gemfile: 'mongoid_6', mongodb: "3.6" }
          - { ruby: "2.6", gemfile: 'mongoid_7', mongodb: "3.6" }
          - { ruby: "2.6", gemfile: 'mongoid_7', mongodb: "3.6" }
          - { ruby: "2.7", gemfile: 'mongoid_7', mongodb: "3.6" }
          - { ruby: "3.0", gemfile: 'mongoid_8', mongodb: "3.6" }
          - { ruby: "3.1", gemfile: 'mongoid_8', mongodb: "3.6" }
          - { ruby: "2.6", gemfile: 'mongoid_6', mongodb: "4.0" }
          - { ruby: "2.6", gemfile: 'mongoid_7', mongodb: "4.0" }
          - { ruby: "2.6", gemfile: 'mongoid_7', mongodb: "4.0" }
          - { ruby: "2.7", gemfile: 'mongoid_7', mongodb: "4.0" }
          - { ruby: "3.0", gemfile: 'mongoid_8', mongodb: "4.0" }
          - { ruby: "3.1", gemfile: 'mongoid_8', mongodb: "4.0" }
          - { ruby: "2.6", gemfile: 'mongoid_6', mongodb: "4.2" }
          - { ruby: "2.6", gemfile: 'mongoid_7', mongodb: "4.2" }
          - { ruby: "2.6", gemfile: 'mongoid_7', mongodb: "4.2" }
          - { ruby: "2.7", gemfile: 'mongoid_7', mongodb: "4.2" }
          - { ruby: "3.0", gemfile: 'mongoid_8', mongodb: "4.2" }
          - { ruby: "3.1", gemfile: 'mongoid_8', mongodb: "4.2" }
          - { ruby: "2.6", gemfile: 'mongoid_6', mongodb: "4.4" }
          - { ruby: "2.6", gemfile: 'mongoid_7', mongodb: "4.4" }
          - { ruby: "2.6", gemfile: 'mongoid_7', mongodb: "4.4" }
          - { ruby: "2.7", gemfile: 'mongoid_7', mongodb: "4.4" }
          - { ruby: "3.0", gemfile: 'mongoid_8', mongodb: "4.4" }
          - { ruby: "3.1", gemfile: 'mongoid_8', mongodb: "4.4" }
          - { ruby: "2.6", gemfile: 'mongoid_6', mongodb: "5.0" }
          - { ruby: "2.6", gemfile: 'mongoid_7', mongodb: "5.0" }
          - { ruby: "2.6", gemfile: 'mongoid_7', mongodb: "5.0" }
          - { ruby: "2.7", gemfile: 'mongoid_7', mongodb: "5.0" }
          - { ruby: "3.0", gemfile: 'mongoid_8', mongodb: "5.0" }
          - { ruby: "3.1", gemfile: 'mongoid_8', mongodb: "5.0" }
          - { ruby: "3.1", gemfile: 'mongoid_9', mongodb: "5.0" }
          - { ruby: "2.6", gemfile: 'mongoid_6', mongodb: "6.0" }
          - { ruby: "2.6", gemfile: 'mongoid_7', mongodb: "6.0" }
          - { ruby: "2.6", gemfile: 'mongoid_7', mongodb: "6.0" }
          - { ruby: "2.7", gemfile: 'mongoid_7', mongodb: "6.0" }
          - { ruby: "3.0", gemfile: 'mongoid_8', mongodb: "6.0" }
          - { ruby: "3.1", gemfile: 'mongoid_8', mongodb: "6.0" }
          - { ruby: "3.1", gemfile: 'mongoid_9', mongodb: "6.0" }
          - { ruby: "2.6", gemfile: 'mongoid_6', mongodb: "7.0" }
          - { ruby: "2.6", gemfile: 'mongoid_7', mongodb: "7.0" }
          - { ruby: "2.6", gemfile: 'mongoid_7', mongodb: "7.0" }
          - { ruby: "2.7", gemfile: 'mongoid_7', mongodb: "7.0" }
          - { ruby: "3.0", gemfile: 'mongoid_8', mongodb: "7.0" }
          - { ruby: "3.1", gemfile: 'mongoid_8', mongodb: "7.0" }
          - { ruby: "3.1", gemfile: 'mongoid_9', mongodb: "7.0" }
    steps:
      - name: Set up MongoDB ${{ matrix.entry.mongodb }}
        uses: supercharge/mongodb-github-action@1.8.0
        with:
          mongodb-version: ${{ matrix.entry.mongodb }}
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.entry.ruby }}
          bundler: '2'
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake